.container {
  display: flex;
}

.help-block {
  font-size: 14px;
  color: red;
}

.goals-list-component,
.persone-list-component {
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  width: 300px;
  flex-direction: column;
}
