<h3>Goals app</h3>

<div class="container">
  {{persone-list persone=model.persones
                goals=model.goals
                savePersone=(action 'savePersone')}}

  {{goals-list goals=model.goals
                saveGoal=(action 'saveGoal')}}

</div>
